<div hx-ext="sse" sse-connect="/sse/{{hangout_id}}">
	<div>
		<h2>Chat messages:</h2>
		<div sse-swap="message" hx-swap="beforeend">

		</div>
	</div>
	<div>
		<h2>Connected Users:</h2>
		<div sse-swap="user_join">

		</div>
	</div>
</div>

<form>
	<input type="text" name="send_message" value="" placeholder="Send a message">
	<input type="hidden" name="hangout_id" value="{{hangout_id}}">
	<input type="hidden" name="user_handle" value="{{user_handle}}">

	<button type="button" hx-post="/chat/message" hx-swap="none">send</button>
</form>
