<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hangout Rooms</title>

	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/sse.js"></script>
	<link href="/assets/main.css" rel="stylesheet" />
	<link href="https://rsms.me/inter/inter.css" rel="stylesheet" />
</head>

<body class="">

	{% if cookie_user_handle.is_some() %}
	<div class="flex gap-1 justify-center">
		<div class="p-3 bg-gray-400">
			<div>
				<h2>Hangout Rooms</h2>
				<div id="hangout_list">
					{% include "hangout_list.html" %}
				</div>

			</div>
			<hr>
			<div>
				<h2>Online Users</h2>
				<div id="online_list">
					{% include "online_user_list.html" %}
				</div>

			</div>
			<form>
				<input type="text" name="hangout_name" value="" placeholder="Input is here">
				<button type="button" hx-post="/hangout" hx-target="#hangout_list"
					hx-swap="innerHTML">create</button>
			</form>

		</div>
		<div id="chat" class="p-3 bg-gray-200">
		</div>
	</div>
	{% else %}
	{% include "user_handle.html" %}
	{% endif %}
</body>

</html>
