<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Conway's Game Of Life</title>
	<link href="css/style.css" rel="stylesheet">

	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
</head>

<body>
	<h1 style="display: flex; justify-content: center;">Conway's game of life</h1>

	<div id="state" style="display: grid; justify-content: center;">
		{% include "grid.html" %}
	</div>

	<div style="margin-top: 15px; display: flex; justify-content: center; gap: 5px;">
		<button hx-get="/next" hx-target="#state" hx-swap="innerHTML">Next cycle</button>
		<button hx-get="/reset" hx-target="#state" hx-swap="innerHTML">Reset game</button>
	</div>
</body>

</html>
